<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G47LEDZXES"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-G47LEDZXES');
	</script>
	<!-- End Google tag (gtag.js) -->
	<title>{{ site.title }} | {{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="/assets/icons/undo.png" />
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
	<script src="{{ site.fontawesome_link }}" crossorigin="anonymous"></script>
	<link rel="me" href="https://social.undo.is/@undomian" />
</head>
