<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel = "shortcut icon" href = "./assets/icons/favicon.ico"/>
    <link rel = "stylesheet" type = "text/css" href = "./assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <script src="{{ site.fontawesome_link }}" crossorigin="anonymous"></script>
</head>
    