<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Hey, I'm Cameron. What's up?</h2>
			<p>I'm Cameron, a Pittsburgh-based IT professional, MTG Legacy and Premodern enthusiast, and volunteer for local Japanese pop culture conventions! I occasionally write on my blog here regarding tech stuff, and I'm working on building out cityoftraitors.com for (preferably sol-land related) Magic content.  Connect with me on whichever social media is relevant and let's talk!</p>
		</header>
		<!--
		<ul class="icons major">
			<li><span class="icon fa-server major"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-cloud major"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major"><span class="label">Dolor</span></span>
			</li>
		</ul>
		-->
	</div>
</section>
