<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Hey, I'm Cameron. What's up?</h2>
			<p>I'm Cameron Wisniewski, a Pittsburgh-based IT professional. I've been working in the IT field in one capacity or another since 2010 and have enjoyed nearly every minute of it. I'm lucky enough to have had a lot of experience with a lot of different technologies; my employers have let me touch a lot of stuff. Throughout all of it, I've developed a love for automating basically anything that I can. Scripting a repetitive task, developing an app to make something simpler to do, streamlining the use of an automation platform - I've done it all.</p>
		</header>
		<!--
		<ul class="icons major">
			<li><span class="icon fa-server major"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-cloud major"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major"><span class="label">Dolor</span></span>
			</li>
		</ul>
		-->
	</div>
</section>
