name: Deploy to Azure Storage ($web)

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build SvelteKit Static Site
        run: npm run build
      
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Sync Files to Azure Storage
        uses: azure/CLI@v2
        with:
          azcliversion: latest
          inlineScript: |
            # Modify --source depending on where your static files are generated/located
            az storage blob upload-batch \
              --destination '$web' \
              --account-name undoissite \
              --source ./dist \
              --auth-mode login \
              --overwrite
